@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #F8F8F8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* ====== React Phone Number Input ======*/
.phone-input {
  padding: 10px 12px;
  border-radius: 6px;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.phone-input:focus,
.phone-input input:focus,
.phone-input .PhoneInputCountrySelect:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #8F8F8F !important;
}

.phone-input-country {
  font-size: 1rem;
  padding: 8px;
  color: #4b5563;
  /* background-color: #FFFFFF; */
  /* border-radius: 4px 0 0 4px; */
}

/* .phone-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
} */


